.auth__main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $primary;
  width: 100vw;
}

.auth__wrapper {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}

.auth__title {
  display: block;
  font-size: 40px;
  color: #333;
  text-align: center;
}

.auth__form {
  width: 100%;
}

.auth__container-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.auth__social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
