.sidebar {
  background: $dark-grey;
  display: flex;
  height: 100vh;
  padding: 0 10px;
  width: 470px;
  overflow: scroll;
}

.sidebar__nav {
  display: block;
  width: 100%;

  .nav__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
  }
}

.sidebar__new-entry {
  display: flex;
  color: gray;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  cursor: pointer;

  p {
    font-size: 22px;
  }
}
