.entry {
    margin-left: 10px;
    .entry-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .entry-image {
        width: 75px;
        height: 75px;
    }
    .entry-title {
        font-size: 18px;
        font-weight: bold;
    }
    .entry-content {
        font-size: 12px;
    }
}

.entry-time {
    color: green;
    font-weight: 600; 
}