.appbar {
  // border-radius: 50px;
  background: #e0e0e0;
  box-shadow: 5px 5px 5px 0px rgba(46, 46, 46, 0.75);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(46, 46, 46, 0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(46, 46, 46, 0.75);
  position: fixed;
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 1;
}
.appbar-left {
  width: 100%;
  display: flex;
  margin: 10px 20px;
}
.appbar-right {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
