* {
  margin: 0px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
}

a {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #666;
  margin: 0;
  transform: all 0.4s;
  text-decoration: none;
}

a:focus {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: $primary;
}

p {
  font-size: 14px;
  line-height: 1.7;
  color: #666666;
  margin: 0px;
}

main {
  width: 100%;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

.m-1 {
  margin: 5px;
}
.m-5 {
  margin: 20px;
}

.mt-1 {
  margin-top: 5px;
}

.mt-5 {
  margin-top: 20px;
}

.mb-1 {
  margin-bottom: 5px;
}

.mb-5 {
  margin-bottom: 20px;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
