@import 'src/styles/variables';

.entry-card {
  background: wheat;
  margin: 10px;
  border-radius: 4px;
  color: #eee;
  display: flex;
  width: 550px;

  .entry-datebox {
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
